<section class="page">
  <div class="header">
    <h1>Lista de Jugadores</h1>
    <button class="btn-primary" [routerLink]="['/admin/jugadores','nuevo']">+ Nuevo Jugador</button>
  </div>

  <div *ngIf="loading">Cargando...</div>
  <div class="error" *ngIf="!loading && error">{{ error }}</div>

  <table *ngIf="!loading && !error" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th style="width:160px;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let j of jugadores">
        <td>{{ j.id }}</td>
        <td>{{ j.nombre }}</td>
        <td>{{ j.email }}</td>
        <td>
          <button class="btn" [routerLink]="['/admin/jugadores', j.id, 'editar']">Editar</button>
          <button class="btn-danger" (click)="remove(j.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
